/*
 * -------------------------------------------------
 *  nf-core/nanorna Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  outdir = "./nanorna"

  // Alignment
  directRNA = ""
  cDNA = ""
  custom = ""
  ref = ""
  juncbed = ""
  aligner = "minimap2"
  index = ""

  // Memory and threads
  ram = 16
  threads = 3

  // Visualisation
  skipvis = false
  chrSizes = false

  help = false
}
