/*
 * -------------------------------------------------
 *  nf-core/nanorna Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  params.outdir = "./nanorna"

  // Alignment
  params.directRNA = ""
  params.cDNA = ""
  params.custom = ""
  params.ref = ""
  params.juncbed = ""
  params.aligner = "minimap2"
  params.index = ""

  // Memory and threads
  params.ram = 16
  params.threads = 3

  // Visualisation
  params.skipvis = false
  params.chrSizes = false
}
